.section{
    background-image:linear-gradient(to left,rgba(235, 26, 106, 0.874), yellow) ;
    width: 100%;
    border-radius: 10px;
    position: fixed;
    position: static;
    text-align: center;
}

.button{
    width:15%;
    height:10vh;
    border-radius: 8px;
    background-color:rgb(255, 172, 7);
    transition-duration: 0.4s; 
    color:rgb(251, 255, 5); 
}

.button:hover{
  background-color:rgba(130, 243, 64, 0.84);
  cursor: pointer;
  color: rgb(255, 0, 255);
}
  
.button1{
background-color: rgb(227, 36, 227);
color:rgb(232, 255, 23);
position: absolute;
transition-duration: 0.4s;
border-radius: 8px;
padding: 2%;
width: 10%;
height: 10vh;
}

.button1:hover{
    background-color:rgb(247, 255, 140);
    cursor: pointer;
    color:blue;
}

.button2{
    width:10%;
    height:5vh;
    border-radius: 8px;
    background-color:rgba(71, 206, 41, 0.765);
    transition-duration: 0.4s; 
    padding: 2%;
    border-radius: 8px; 
    text-align: center;
    width: 10%;
    right: 100px;
    text-decoration: none;
    position: absolute;
    color: rgb(255, 0, 98);
}

.button2:hover{
    background-color:rgb(115, 121, 32);
    cursor: pointer;
    color:rgb(0, 255, 247);
}

.pic{
    max-width: 100%;
    left: 50vh;;
    height: auto;
    width: 50%;
}